---
import terminal from '/terminal.svg'
---

<div class="fixed left-0 right-0 h-16 bg-gruvboxDarkBg text-gruvboxTextColor flex justify-between items-center px-2 md:hidden">
  <!-- logo -->
  <div class="flex items-center space-x-1 px-4">
    <img class="h-8 w-8" src={terminal} />
    <a href="#" class="block font-bold">Uriel's Lair</a>
  </div>

  <!-- mobile menu button -->
  <button class="mobile-menu-button p-4 hover:bg-gruvboxTextColor hover:text-gruvboxDarkBg focus:outline-none md:hidden">
    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>
</div>
