---
import Navigation from "./Navigation.astro";

import githubIcon from "../images/icons/github.svg"
import linkedInIcon from "../images/icons/linkedin.svg"
import resumeIcon from "../images/icons/resume.svg"

import resumeFile from "/resume.pdf"
---

<!-- sidebar -->
<div class="sidebar overflow-y-auto bg-gruvboxDarkBg w-96 space-y-6 text-gruvboxTextColor pt-10 px-10 transform -translate-x-full fixed md:top-0 top-16  bottom-0 left-0 md:translate-x-0 transition duration-200 ease-in-out z-10">
  <!-- Site Name -->
  <div class="flex flex-col text-8xl items-end border-b-2 border-gruvboxTextColor">
    <span>Uriel's</span>
    <span class="mb-3">Lair</span>
    <span class="text-base mb-5">A developer</span>
    <div class="flex mb-5 space-x-5">
      <a href="https://github.com/urielbravo">
        <img class="w-7 h-7" src={githubIcon} alt="github repo">
      </a>
      <a href="https://www.linkedin.com/in/urielbravo/">
        <img class="w-7 h-7" src={linkedInIcon} alt="Linked In">
      </a>
      <a href={resumeFile}>
        <img class="w-7 h-7" src={resumeIcon} alt="Resume">
      </a>
    </div>
  </div>


  <!-- nav -->
  <nav>
    <Navigation content="Home" link="/" />
    <Navigation content="Blog" link="/blog/" />
    <Navigation content="About Me" link="/about/" />
  </nav>
</div>